@font-face {
  font-family: "e-Ukraine";
  src: url("../assets/fonts/e-Ukraine-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: rgba(225, 223, 204, 1);
  --color-text: rgba(35, 34, 30, 1);
  --color-bg-section: rgba(241, 239, 230, 1);
  --color-accent: rgba(85, 84, 79, 1);
  --color-hr-line: rgba(205, 204, 189, 1);
  --color-first-letter: rgba(253, 137, 10, 1);

  --color-head-text: rgba(35, 34, 30, 1);
  --color-text-theme: rgba(35, 34, 30, 1);
  --color-sub-text: rgba(99, 92, 77, 1);

  --header-height: 80px;

  // button
  --color-bg-button: rgba(253, 137, 10, 1);
  --color-bg-button-hover: rgba(202, 110, 8, 1);

  // link to yt
  --color-text-link: rgba(255, 255, 255, 1);
  --color-bg-yt-link: rgba(255, 23, 41, 1);
  --color-bg-yt-link-hover: rgba(228, 22, 39, 1);

  // icon requir
  --color-icon-requir: rgba(253, 137, 10, 1);
  --color-icon-back: rgba(35, 34, 30, 1);

  // card leader
  --color-bg-card: rgba(241, 239, 230, 1);
  --color-bg-card-hover: rgba(255, 255, 255, 1);
}

[data-theme='dark'] {
  --color-bg: rgba(35, 34, 30, 1);
  --color-text: rgba(239, 219, 178, 1);
  --color-bg-section: rgba(52, 50, 44, 1);
  --color-accent: rgba(140, 129, 107, 1);
  --color-hr-line: rgba(65, 63, 56, 1);
  --color-first-letter: rgba(253, 137, 10, 1);

  --color-head-text: rgb(239, 219, 178);
  --color-text-theme: rgba(255, 255, 255, 1);
  --color-sub-text: rgba(140, 139, 127, 1);
  --color-description-text: rgb(179, 169, 141);
  
  // icon requir
  --color-icon-requir: rgba(253, 137, 10, 1);
  --color-icon-back: rgba(35, 34, 30, 1);

  // card leader
  --color-bg-card: rgba(52, 50, 44, 1);
  --color-bg-card-hover: rgba(63, 61, 54, 1);
}

html {
  font-size: 16px;
  outline: none;
}

body {
  font-family: 'e-Ukraine', sans-serif !important;

  background-color: var(--color-bg);
  color: var(--color-text);

  scroll-behavior: smooth;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.app-wrapper {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
}