// src/components/molecules/Nav.scss

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;

  @media (max-width: 768px) {
    gap: 0.5rem;
    padding: 0.5rem;
  }

  @media (max-width: 1035px) {
    width: 500px;
  }
}
