// src/components/organisms/Header.scss

.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  padding: 1.25rem 0rem;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: var(--color-bg);
  border-bottom: 2px solid var(--color-hr-line);
  box-sizing: border-box;

  &__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;

    img {
      width: 40px;
      height: 40px;

      @media (max-width: 480px) {
        width: 28px;
      }
    }

    span {
      position: relative;
      font-size: 1.7rem;
      letter-spacing: .25px;
      color: var(--color-text-theme);

      &::first-letter {
        font-style: italic;
      }

      &::after {
        content: 'є';
        position: absolute;
        top: -12px;
        left: 110px;
        color: var(--color-first-letter);
      }

      @media (max-width: 480px) {
        font-size: 1rem;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
  }

}