.wrapper {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.req-header {
  text-align: center;

  span {
    display: block;
  }

  span:nth-child(1) {
    font-size: 3rem;
    color: var(--color-head-text);
  }

  span:nth-child(2) {
    font-size: 1rem;
    padding: 10px 0px;
    color: var(--color-sub-text);
  }

  a {
    margin: 10px auto;
    text-decoration: none;

    color: var(--color-text-link);
    background: var(--color-bg-yt-link);
    padding: 1rem 1.5rem;
    text-decoration: none;
    display: block;
    width: 180px;
    border-radius: 25px;

    transition: background .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
      background: var(--color-bg-yt-link-hover);
      cursor: pointer;
    }
  }
}

.req-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 2rem 1rem;
  background-color: var(--color-bg-section);
  border-radius: 20px;
}